html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: 100%;
}

/* custom Font*/
@font-face {
    font-family: "covered_by_your_graceregular";
    font-weight: normal;
    font-style: normal;
    src: url("/fonts/coveredbyyourgrace-webfont.eot");
    src: url("/fonts/coveredbyyourgrace-webfont.eot?#iefix") format('embedded-opentype'), url("/fonts/coveredbyyourgrace-webfont.svg#covered_by_your_graceregular") format('svg'), url("/fonts/coveredbyyourgrace-webfont.woff") format('woff'), url("/fonts/coveredbyyourgrace-webfont.ttf") format('truetype')
}

/* icon Font */
@font-face {
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: normal;
    src: url("/fonts/fontawesome-webfont.eot?v=#4.0.3");
    src: url("/fonts/fontawesome-webfont.eot?#iefix&v=#4.0.3") format("embedded-opentype"), url("/fonts/fontawesome-webfont.woff?v=#4.0.3") format("woff"), url("/fonts/fontawesome-webfont.ttf?v=#4.0.3") format("truetype"), url("/fonts/fontawesome-webfont.svg#fontawesomeregular?v=#4.0.3") format("svg")
}

@font-face {
    font-family: "fontdiao";
    font-weight: normal;
    font-style: normal;
    src: url("/fonts/fontdiao.eot");
    src: url("/fonts/fontdiao.eot?#iefix") format('embedded-opentype'), url("/fonts/fontdiao.svg#fontdiao") format('svg'), url("/fonts/fontdiao.woff") format('woff'), url("/fonts/fontdiao.ttf") format('truetype')
}

.clearfix {
    zoom: 1
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table
}

.clearfix:after {
    clear: both
}

#main {
    margin: 0 0 0;
    line-height: 1.8;
}

@media only screen and (min-width: 1024px) {
    #main {
        margin: 0 0 0;
        width: 75%;
        float: left;
        -webkit-transition: margin 0.5s ease-out;
        -moz-transition: margin 0.5s ease-out;
        -o-transition: margin 0.5s ease-out;
        -ms-transition: margin 0.5s ease-out;
        transition: margin 0.5s ease-out
    }
}

#main section.post {
    background: #fafafa;
    margin-bottom: .125em;
}

#main section.post a {
    display: block;
    border-left: .5em solid #ccc;
    -webkit-transition: border-left 0.45s;
    -moz-transition: border-left 0.45s;
    -o-transition: border-left 0.45s;
    -ms-transition: border-left 0.45s;
    transition: border-left 0.45s;
    padding: .5em;
}

@media only screen and (min-width: 768px) {
    #main section.post a {
        padding: 1em
    }
}

#main section.post a:hover {
    border-left: .5em solid #2ca6cb
}

#main section.post a h1 {
    color: #2ca6cb;
    line-height: 2
}

#main section.post a p {
    color: #817c7c
}

#main section.post a time {
    color: #817c7c;
    display: block;
    margin: .5em 0;
    font-size: .9em
}

#main article.post-expand {
    background: #fafafa;
    margin-bottom: 3.5em;
}

#main article.post-expand .img-logo {
    max-width: 180px;
    max-height: 96px;
    display: block !important;
    margin-right: .7em;
    margin-left: .7em;
    padding: 0;
    float: right;
    clear: right
}

#main article.post-expand .img-topic {
    max-width: 300px;
    max-height: 1800px;
    display: block !important;
    margin-left: .7em;
    margin-right: .7em;
    padding: 0;
    float: right;
    clear: right
}

#main article.post-expand .article-more-link a {
    display: inline-block;
    line-height: 1em;
    padding: 6px 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    background: #ddd;
    color: #817c7c;
    text-decoration: none;
}

#main article.post-expand .article-more-link a:hover {
    background: #2ca6cb;
    color: #fff;
    text-decoration: none
}

#archive-page section.post a {
    font-size: .9em;
    padding: .5em !important;
}

@media only screen and (min-width: 768px) {
    #archive-page section.post a time {
        padding-left: 1em
    }
}

/* archive layout */
.category-icon:before, .tag-icon:before, .archive-icon:before {
    font-family: "FontAwesome";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #ccc;
    font-size: 100%;
    padding-right: .3em
}

.category-icon:before {
    content: "\f07b"
}

.tag-icon:before {
    content: "\f02c"
}

.archive-icon:before {
    content: "\f187"
}

.archive-title {
    margin: 1em 0;
    padding: 2em;
    background: #fafafa;
    border-left: .5em solid #ccc;
}

@media only screen and (min-width: 1024px) {
    .archive-title {
        margin: 2em 0;
        width: 18.5%;
        padding-left: .5%;
        float: left
    }
}

.archive-title h2 {
    width: 90%;
    color: #2ca6cb;
    font-size: 120%
}

.archive-title a {
    color: #2ca6cb;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -o-transition: color 0.5s;
    -ms-transition: color 0.5s;
    transition: color 0.5s;
}

.archive-title a:hover {
    color: #2ca6cb;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -o-transition: color 0.5s;
    -ms-transition: color 0.5s;
    transition: color 0.5s
}

.current {
    color: #ea6753 !important
}

@media only screen and (min-width: 768px) {
    .archive-part {
        min-height: 200px
    }
}

@media only screen and (min-width: 1024px) {
    .archive-part {
        float: right;
        margin-left: 2% !important
    }
}

.archive-part section.post {
    width: 100%;
}

.archive-part section.post time {
    font-size: 1.1em !important;
    float: left;
}

@media only screen and (max-width: 568px) {
    .archive-part section.post time {
        width: 100%
    }
}

@media only screen and (min-width: 568px) {
    .archive-part section.post time {
        width: 20%
    }
}

@media only screen and (min-width: 768px) {
    .archive-nav {
        width: 100%;
        float: left;
        margin-top: 1em
    }
}

/* tags&categories layout */
.all-list-box {
    min-height: 400px
}

.post, .page, .link, .photo {
    background: #fafafa;
}

.post a, .page a, .link a, .photo a {
    color: #2ca6cb;
}

.post a:hover, .page a:hover, .link a:hover, .photo a:hover {
    color: #ea6753
}

@media only screen and (min-width: 768px) {
    article header.article-info {
        border-bottom: 1px solid #dbdbdb
    }
}


section.comment {
    padding: 0 4%;
    margin: 1em 0
}

.toc-article {
    background: #eee;
    margin: 1.6em 0 0 2em;
    padding: 1em;
    -webkit-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.toc-article strong {
    padding: .3em 0
}

.toc-article ul li {
    list-style: disc;
    text-align: match-parent;
    margin: .5em 0
}

.toc-article ol li {
    list-style-type: decimal;
    margin: .5em 0
}

#toc {
    line-height: 1.3em;
    font-size: .8em;
    float: right;
}

#toc .toc {
    padding: 0;
}

#toc .toc li {
    list-style-type: none
}

#toc .toc-child {
    padding-left: 1.5em;
    padding-top: 0
}

#toc.toc-aside {
    display: none;
    width: 13%;
    position: fixed;
    right: 2%;
    top: 320px;
    overflow: hidden;
    line-height: 1.5em;
    font-size: 1em;
    color: #333;
    opacity: .6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: alpha(opacity=60);
    -webkit-transition: opacity 1s ease-out;
    -moz-transition: opacity 1s ease-out;
    -o-transition: opacity 1s ease-out;
    -ms-transition: opacity 1s ease-out;
    transition: opacity 1s ease-out;
}

#toc.toc-aside strong {
    padding: .3em 0;
    color: #817c7c
}

#toc.toc-aside:hover {
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    -ms-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
    opacity: 1;
    -ms-filter: none;
    filter: none
}

#toc.toc-aside a {
    -webkit-transition: color 1s ease-out;
    -moz-transition: color 1s ease-out;
    -o-transition: color 1s ease-out;
    -ms-transition: color 1s ease-out;
    transition: color 1s ease-out;
}

#toc.toc-aside a:hover {
    color: #2ca6cb;
    -webkit-transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
    -ms-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out
}

.active {
    color: #2ca6cb !important
}

.openaside {
    display: none;
    position: fixed;
    right: 7.5%;
    top: 260px;
}

.openaside a {
    display: block;
    color: #fff;
    border: 1px solid #fff;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #2ca6cb;
    padding: .2em .55em;
}

.openaside a::before {
    font-family: "FontAwesome";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f0c9"
}

.closeaside {
    display: none;
}

.closeaside a {
    color: #2ca6cb;
}

.closeaside a:hover {
    color: #2ca6cb
}

.closeaside a::before {
    font-family: "FontAwesome";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f0c9"
}

@media only screen and (min-width: 1024px) {
    .closeaside {
        display: block;
        position: absolute;
        right: 25px;
        top: 22px
    }
}

#asidepart {
    background: #fafafa;
    margin: 1em 0 0;
    padding: .5em 2% 1em;
}

@media only screen and (min-width: 1024px) {
    #asidepart {
        position: relative;
        float: left;
        width: 18%;
        margin: 1em 0 0 3%
    }
}

.asidetitle {
    font-size: 1.1em;
    color: #2ca6cb;
    padding: 0 0 .3125em 0;
    border-bottom: .1875em solid #ccc;
}

.asidetitle a {
    color: #2ca6cb;
}

.asidetitle a:hover {
    color: #2ca6cb;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -o-transition: color 0.5s;
    -ms-transition: color 0.5s;
    transition: color 0.5s
}

@media only screen and (min-width: 768px) {
    .categorieslist {
        width: 45%;
        float: left;
        margin: 0 5% 0 0
    }
}

@media only screen and (min-width: 1024px) {
    .categorieslist {
        width: 100%;
        float: none;
        margin: 1em 0 0
    }
}

.categorieslist li {
    border-bottom: 1px solid #ccc;
}

.categorieslist li a {
    display: block;
    padding: .5em 5%;
}

.categorieslist li a:hover {
    color: #2ca6cb
}

.tagslist {
    margin: 1em 0 0;
}

@media only screen and (min-width: 768px) {
    .tagslist {
        width: 45%;
        float: left;
        margin: 0 5% 0 0
    }
}

@media only screen and (min-width: 1024px) {
    .tagslist {
        width: 100%;
        float: none;
        margin: 1em 0 0
    }
}

.tagslist ul {
    padding: .5em 0
}

.tagslist ul li {
    float: left;
}

.tagslist ul li a {
    display: block;
    margin: .3125em;
    padding: .125em .3125em;
    background: #dbdbdb;
}

.tagslist ul li a:hover {
    color: #2ca6cb;
    background: #e6e6e6
}

.rsspart {
    background: #2ca6cb;
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .rsspart {
        float: left;
        width: 45%;
        margin: 0 5% 0 0
    }
}

@media only screen and (min-width: 1024px) {
    .rsspart {
        width: 100%;
        float: none;
        margin: 1em 0 0
    }
}

.rsspart a {
    color: #fff;
    display: block;
    padding: .625em 0;
    text-align: center;
}

.rsspart a:hover {
    color: #2ca6cb;
    background: #fafafa
}

.rsspart a::before {
    font-family: "FontAwesome";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-right: .5em;
    content: "\f09e"
}

.archiveslist {
    padding-right: 1em;
}

@media only screen and (min-width: 1024px) {
    .archiveslist {
        width: 100%;
        float: none;
        margin: 1em 0 0
    }
}

.archiveslist li {
    font-size: .8em;
    line-height: 2em;
}

.archiveslist li a {
    padding: .5em;
}

.archiveslist li a:hover {
    color: #2ca6cb;
    -webkit-transition: color 0.25s;
    -moz-transition: color 0.25s;
    -o-transition: color 0.25s;
    -ms-transition: color 0.25s;
    transition: color 0.25s
}

.archiveslist .archive-list-count:before {
    content: "("
}

.archiveslist .archive-list-count:after {
    content: ")"
}

.archive-list {
    padding: .5em 0
}

.archive-float ul {
    padding: 0
}

.archive-float li {
    float: left;
    margin: .3em;
}

@media only screen and (min-width: 1024px) {
    .archive-float li {
        float: none
    }
}

@media only screen and (min-width: 768px) {
    .tagcloudlist {
        width: 45%;
        float: left;
        margin: 0 5% 0 0
    }
}

@media only screen and (min-width: 1024px) {
    .tagcloudlist {
        width: 100%;
        float: none;
        margin: 1em 0 0
    }
}

.tagcloudlist .tagcloudlist a {
    padding: .2em;
    display: block;
    float: left;
}

.tagcloudlist .tagcloudlist a:hover {
    color: #2ca6cb;
    -webkit-transition: color 0.25s;
    -moz-transition: color 0.25s;
    -o-transition: color 0.25s;
    -ms-transition: color 0.25s;
    transition: color 0.25s
}

.linkslist {
    margin-top: .5em;
}

@media only screen and (min-width: 768px) {
    .linkslist {
        width: 45%;
        float: left;
        margin: 0 5% 0 0
    }
}

@media only screen and (min-width: 1024px) {
    .linkslist {
        width: 100%;
        float: none;
        margin: 1em 0 0
    }
}

.linkslist ul {
    padding: .5em 0;
}

.linkslist ul a {
    font-size: 1em;
    line-height: 1.5;
    display: block;
    padding: 0 3%;
}

.linkslist ul a:hover {
    color: #2ca6cb;
    -webkit-transition: color 0.25s;
    -moz-transition: color 0.25s;
    -o-transition: color 0.25s;
    -ms-transition: color 0.25s;
    transition: color 0.25s
}
