---
layout: page
description: "黎涛的博客"
---

{% if paginator.previous_page %}
{% else %}
<h4 class="index_hint"><a href="{{ site.baseurl }}/about.html">{{ site.blog_owner }}</a>最新的文章</h4>
{% endif %}
{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
    </a>
    <p class="post-meta">发表于{{ post.date | date: "%Y-%m-%d" }} &nbsp;&nbsp; 类别:
      {% assign categories_list = post.categories %}
      {% if categories_list.first[0] == null %}
        {% for category in categories_list %}
                <a href="{{ site.baseurl }}/{{ site.categories_path }}#{{ category | replace:' ','-' }}">
                  {{ category | capitalize }}({{ site.categories[category].size }})
               </a>
        {% endfor %}
      {% else %}
        {% for category in categories_list %}
                <a href="{{ site.baseurl }}/{{ site.categories_path }}#{{ category[0] | replace:' ','-' }}">
                    {{ category[0] | capitalize }}({{ category[1].size }})
                </a>
        {% endfor %}
      {% endif %}
      {% assign categories_list = nil %}

    &nbsp;&nbsp; 标签:
      {% assign tags_list = post.tags %}
      {% if tags_list.first[0] == null %}
        {% for tag in tags_list %}
                <a href="{{ site.baseurl }}/{{ site.tags_path }}#{{ tag | replace:' ','-' }}">
                  {{ tag | capitalize }}({{ site.tags[tag].size }})
               </a>  
        {% endfor %}
      {% else %}
        {% for tag in tags_list %}
                <a href="{{ site.baseurl }}/{{ site.tags_path }}#{{ tag[0] | replace:' ','-' }}">
                    {{ tag[0] | capitalize }}({{ tag[1].size }})
                </a>  
        {% endfor %}
      {% endif %}
      {% assign tags_list = nil %}
    </p>
</div>
<hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; 较新的文章</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">较早的文章 &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
<div class="pages_choose">
    <div class="pages_show">
	<span class="pages_hint">页面</span>
	{% if paginator.total_pages > 9 %}
	  {% assign pre_string = "0" %}
	{% else %}
	  {% assign pre_string = "" %}
	{% endif %}
	{% for i in (1..paginator.total_pages) %}
	  {% if i == 1 %}
	  <a href="{{ site.baseurl }}/" id="pagetab">{{ pre_string }}{{ i }}</a>&nbsp;&nbsp;
	  {% elsif i < 10 %}
	  <a href="{{ site.baseurl }}/page{{ i }}/" id="pagetab{{ i }}">{{ pre_string }}{{ i }}</a>&nbsp;&nbsp;
	  {% else %}
	    <a href="{{ site.baseurl }}/page{{ i }}/" id="pagetab{{ i }}">{{ i }}</a>&nbsp;&nbsp;
	  {% endif %}
        {% endfor %}
    </div>
</div>
<script>
function getid()
{
    var ih;
    ih=location.href.split("page")[1];
    if(ih==null){
        ih = '';
    }
    else
    {
	ih = ih.split("/")[0];
    }
    $('#pagetab' + ih).attr("style","background-color:gray;color:white;");
}
</script>
<body onload="getid()">
</body>
