<div class="archiveslist">
	<p class="asidetitle">归档</p>
		<ul>
			{% assign precount = 0 %}
			{% assign lyear = 0 %}
			{% for post in site.posts %}
			{% capture precount %} {{ 1 | plus: precount }} {% endcapture %}
			{% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
			{% if year != lyear %}
			  {% if lyear != 0 %}
			  ({{precount}})<br>
			  {% endif %}
			  <a href="{{ site.baseurl }}/{{ site.archives_path }}#{{ year }}">{{ year }}</a>
			  {% assign precount = 0 %}
			{% endif %}
			{% capture lyear %}{{ post.date | date: '%Y' }}{% endcapture %}
			{% endfor %}
			{% capture precount %} {{ 1 | plus: precount }} {% endcapture %}
			({{precount}})<br>
		</ul>
</div>
