{% if site.tags | size != 0 %}
<div class="tagslist">
	<p class="asidetitle">标签</p>
		<ul class="clearfix">
		{% for item in site.tags %}
			{% if item[1] | size != 0 %}
			<a href="{{ site.baseurl }}/{{ site.tags_path }}#{{ item[0] }}" title="{{ item[0] }}" onclick="showid('{{ item[0] }}')"><span class="badge btn-success">{{ item[0] }}({{ item[1] | size }})</span></a>
			{% endif %}
		{% endfor %}
		</ul>
</div>
{% endif %}

<script>
function showid(input)
{
    $('#'+input+'-id').tab("show");
}
</script>

