	    <li style="line-height: 35px;">
		    <span class="text-muted">{{ node.date | date: "%Y-%m-%d" }} </span><a href="{{ site.baseurl }}{{node.url}}">{{node.title}}</a>
		    <br>
			    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			    &nbsp;
			    <sup>
		    <span class="meta">
                      类别:
                      {% assign categories_list = node.categories %}
                      {% if categories_list.first[0] == null %}
                        {% for category in categories_list %}
                                <a href="{{ site.baseurl }}/{{ site.categories_path }}#{{ category | replace:' ','-' }}">
                                  {{ category | capitalize }}({{ site.categories[category].size }})
                               </a>
                        {% endfor %}
                      {% else %}
                        {% for category in categories_list %}
                                <a href="{{ site.baseurl }}/{{ site.categories_path }}#{{ category[0] | replace:' ','-' }}">
                                    {{ category[0] | capitalize }}({{ category[1].size }})
                                </a>
                        {% endfor %}
                      {% endif %}
                      {% assign categories_list = nil %}
    
                    &nbsp;&nbsp; 标签:
                      {% assign tags_list = node.tags %}
                      {% if tags_list.first[0] == null %}
                        {% for tag in tags_list %}
                                <a href="{{ site.baseurl }}/{{ site.tags_path }}#{{ tag | replace:' ','-' }}">
                                  {{ tag | capitalize }}({{ site.tags[tag].size }})
                               </a>  
                        {% endfor %}
                      {% else %}
                        {% for tag in tags_list %}
                                <a href="{{ site.baseurl }}/{{ site.tags_path }}#{{ tag[0] | replace:' ','-' }}">
                                    {{ tag[0] | capitalize }}({{ tag[1].size }})
                                </a>  
                        {% endfor %}
                      {% endif %}
                      {% assign tags_list = nil %}
			    </sup>
		    </span>
	    </li>
