	    <li style="line-height: 35px;">
		    <span class="text-muted">{{ node.date | date: "%Y-%m-%d" }} </span><a href="{{ site.baseurl }}{{node.url}}">{{node.title}}</a>
		    <br>
			    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			    &nbsp;
			    <sup>
		    <span class="meta">
                      {% assign categories_list = node.categories %}
                      {% if categories_list.first[0] == null %}
                        {% for category in categories_list %}
                                <a href="{{ site.baseurl }}/{{ site.categories_path }}#{{ category | replace:' ','-' }}" onclick="showid('{{ category | replace:' ','-' }}')">
					<span class="badge catcats">{{ category | capitalize }}</span>
                               </a>
                        {% endfor %}
                      {% else %}
                        {% for category in categories_list %}
                                <a href="{{ site.baseurl }}/{{ site.categories_path }}#{{ category[0] | replace:' ','-' }}" onclick="showid('{{ category[0] | replace:' ','-' }}')">
					<span class="badge catcats">{{ category[0] | capitalize }}</span>
                                </a>
                        {% endfor %}
                      {% endif %}
                      {% assign categories_list = nil %}
    
                      {% assign tags_list = node.tags %}
                      {% if tags_list.first[0] == null %}
                        {% for tag in tags_list %}
                                <a href="{{ site.baseurl }}/{{ site.tags_path }}#{{ tag | replace:' ','-' }}" onclick="showid('{{ tag | replace:' ','-' }}')">
					<span class="badge btn-success">{{ tag | capitalize }}</span>
                               </a>  
                        {% endfor %}
                      {% else %}
                        {% for tag in tags_list %}
                                <a href="{{ site.baseurl }}/{{ site.tags_path }}#{{ tag[0] | replace:' ','-' }}" onclick="showid('{{ tag[0] | replace:' ','-' }}')">
					<span class="badge btn-success">{{ tag[0] | capitalize }}</span>
                                </a>  
                        {% endfor %}
                      {% endif %}
                      {% assign tags_list = nil %}
			    </sup>
		    </span>
	    </li>
