---
layout: default
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <hr class="small">
		    <span class="subheading"><a href="{{ site.baseurl }}/about">{{ page.description }}</a></span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<section class="container" style="width: 98%" id="about">
<div class="container" id="main">
			{{ content }}
</div>
<div id="asidepart">
	<aside class="clearfix">
		{% for widget in site.widgets %}
		{% include _widget/{{widget}}.html %}
		{% endfor %}
	</aside>
</div>

</section>
<hr>
